---
import { services } from  "../../data/data.astro";
import Card from "../Common/Card.astro";
---

<section class="mx-[6%] mt-[6%] mb-[10%]">
  <h1 class="my-8 text-center font-inter text-2xl">Our Services</h1>
  <div class="grid md:grid-cols-2 gap-10">
    {
      services.map((service) => (
        <Card
          title={service.title}
          content={service.content}
          svgPath={service.svgPath}
        />
      ))
    }
  </div>
</section>
