---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Common/Heading.astro";
import Info from "../components/Contact/Info.astro";
import Form from "../components/Contact/Form.astro";
---

<Layout
  title="Subcode Africa | Contact Us"
  description="This webpage provides information on how you can contact our team at Subcode Africa"
  imagePath="/pages/contact.png"
>
  <!-- <Heading
    title="Contact Us"
    subtitle="Think our services align with your needs?"
    other="Drop us a call we will be ready and happy to help."
  /> -->

  <div class="mx-[6%] grid gap-16 grid-cols-1 md:grid-cols-2 my-20">
    <Info />
    <Form />
  </div>
</Layout>
