---
import { Image } from '@astrojs/image/components';

---

<section class="xl:h-screen xl:min-h-screen max-w-4xl mx-[6%] lg:mx-auto grid place-items-center">
   <div>
      <h1 class="font-semibold text-3xl md:text-4xl text-center">
        Companies we work with
    </h1>
    <p class="mt-2 mb-8 font-medium text-center text-lg text-[#00000080]">
        Faucibus fringilla sed integer cursus tellus et, quis Dictum tortor, sed scelerisque mattis malesuada.
        Urna sed magna a sed nulla egestas bibendum eget. Consectetur urna varius dolor, fermentum turpis.
        Sit malesuada id tortor viverra gravida cras. In quis.
    </p>

    <ul class="flex flex-wrap justify-center mx-auto gap-8 md:gap-x-16 gap-y-5">
        <li><Image class="rounded-full" src="/images/2.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/3.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/4.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/5.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/6.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/7.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/8.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/9.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
        <li><Image class="rounded-full" src="/images/pepsi.png" alt="" width={90} height={90} aspectRatio={1/1} format="webp"/></li>
    </ul>
   </div>
</section>
