---
import { Image } from "@astrojs/image/components";
import Button from "../Common/Button.astro";
---

<section
  class="mx-[6%] min-h-[80vh] h-80vh my-16 grid place-items-center grid-cols-1 lg:grid-cols-2 gap-x-8"
>
  <div>
    <div
      class="flex items-center w-max sm:space-x-6 rounded-xl bg-slate-300 p-2 px-4"
    >
      <p class="text-sm sm:text-base md:text-lg font-medium">
        #1 Web & Apps Botique
      </p>
    </div>

    <h1
      class="my-6 text-3xl sm:text-4xl  font-bold capitalize"
    >
    Your East Africa Partner for Digital Transformation and Web Apps Innovations
    </h1>

    <p class="text-base sm:text-lg font-medium text-[#00000080]">
      We're a lean web and apps team that uses design and code to solve problems.
    </p>

    <div class="my-12">
      <Button text="Connect with us" type="primary" />
      <!-- <Button text="Browse Our Works" type="secondary" /> -->
    </div>
  </div>

  <div class="hidden lg:flex flex-col justify-center h-full">
    <Image
      src="/images/africa.svg"
      alt="Hero Image"
      width={450}
      aspectRatio={1 / 1}
      format="webp"
      class="object-contain"
    />
  </div>
</section>
