---
import { Image } from "@astrojs/image/components";
import { partners } from "../../data/data.astro";
---

<section class="mx-[6%] my-[10%] xl:my-[15%]">
  <div>
    <h1
      class="font-semibold my-2 text-2xl md:text-5xl text-center capitalize pb-3"
    >
      Subcode Engagements
    </h1>
    <p class="my-4 font-medium text-center text-lg text-[#00000080]">
      Some of the partners we have worked with:-)
    </p>
    <div
      class="grid place-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-20 mt-14"
    >
      {
        partners.map((partner) => (
          <div class="w-24 h-24 md:w-44 md:h-44">
            <Image
              src={partner.path}
              alt={partner.name}
              width={170}
              aspectRatio={1 / 1}
              format="webp"
              class=" rounded-lg"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
