
<div class="bg-purple py-9 px-7 lg:px-14 rounded-2xl ">
    <h3 class="font-bold text-2xl text-white">
        Contact Information
    </h3>
    <p class="font-normal text-lg text-gray-300 my-4 ">
        Fill up the form and our Team will get back to you within 24 hours.
    </p>

    <ul>
        <li class="mb-7">
            <div class="flex">
                <div class="relative bg-white w-8 h-8 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="absolute top-1 right-1 w-6 h-6">
                        <path
                            d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                        <path
                            d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                    </svg>

                </div>
                <p class="font-normal text-sm sm:text-lg text-white ml-4">
                    team@subcode.africa
                </p>
            </div>
        </li>
        <li class="mb-7">
            <div class="flex">
                <div class="relative bg-white w-8 h-8 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="absolute top-1 right-1 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                    </svg>
                </div>
                <p class="font-normal text-sm sm:text-lg text-white ml-4">
                    www.subcode.africa
                </p>
            </div>
        </li>
        <li class="mb-7">
            <div class="flex">
                <div class="relative bg-white w-8 h-8 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="absolute top-1 right-1 w-6 h-6">
                        <path fill-rule="evenodd"
                            d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div>
                    <p class="font-normal text-sm sm:text-lg text-white ml-4">
                        Plot No 543,
                     </p>
                    <p class="font-normal text-sm sm:text-lg text-white ml-4">
                       P.O Box 32485
                    </p>
                    <p class="font-normal text-sm sm:text-lg text-white ml-4">
                       Mtongani, Kunduchi
                    </p>
                    <p class="font-normal text-sm sm:text-lg text-white ml-4">
                       Dar es Salaam, Tanzania
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>