<div class="mx-[6%] text-center py-20">
    <h1 class="font-bold text-5xl capitalize pb-3">
        About Us
    </h1>
    <p class="font-normal text-lg text-center">
        Pulvinar auctor nisl, volutpat turpis enim id.
    </p>
</div>