<div class="mx-[6%] my-16 bg-[#C4C4C426] shadow-md">
  <div class="grid grid-cols-1 items-center divide-y-2 divide-gray-900 gap-8 p-8 sm:grid-cols-2 sm:divide-x-2 sm:divide-y-0 md:py-16">
    <h1 class="text-center sm:text-left text-2xl md:text-3xl font-semibold ">
      We&apos;re a lean creative agency that uses design and code to solve
      problems.
    </h1>

    <p class="text-center pt-10 font-normal text-[#00000080] md:text-lg sm:text-left sm:pt-0 sm:pl-8 ">
      Just provide us with your website or app idea and let the magic happen
    </p>
  </div>
</div>
